*.class

# Package Files #
*.jar
*.war
*.ear
/bin

.classpath


.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

src/sg/edu/nus/comp/cs4218/impl/Shell.java

src/sg/edu/nus/comp/cs4218/impl/Shell.java

src/sg/edu/nus/comp/cs4218/impl/extended1/PipingTool.java

test/.DS_Store

test/sg/.DS_Store

test/sg/edu/nus/.DS_Store

test/sg/edu/.DS_Store

test/sg/edu/nus/comp/.DS_Store

test/sg/edu/nus/comp/.DS_Store

test/sg/edu/nus/comp/cs4218/impl/.DS_Store

test/sg/edu/nus/comp/cs4218/.DS_Store

test/sg/edu/nus/comp/cs4218/.DS_Store
.project
